---
import WidgetWrapper from "~/components/ui/WidgetWrapper.astro";
import ItemGrid from "~/components/ui/ItemGrid.astro";
import Headline from "~/components/ui/Headline.astro";
import type { Features } from "~/types";

const {
  title = await Astro.slots.render("title"),
} = Astro.props as Features;
---
<WidgetWrapper>
  <Headline title={title} />
  <div class="flex justify-center items-center h-screen">
    <iframe src="https://map.openchargemap.io/?mode=embedded" allow="geolocation" frameborder="0" width="50%" height=600px"></iframe>
  </div>
</WidgetWrapper>

