---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Electric Vehicles- A peek into the Future',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{
      targetBlank: true,
      text: 'Learn more',
      href: 'https://punyahbaghla5.blogspot.com/2023/08/why-switch-to-electric.html',
    }}
    image={{ src: '~/assets/images/hero.jpeg', alt: 'Tesla Image' }}
  >
    <Fragment slot="title">
      Electric Vehicles <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white highlight">- The future is here </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Combat climate change</span> and protect the environment!
        </span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">With: environment!</span>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Find the nearest charging station near you"
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    title="Why switch to Electric?"
    items={[
      {
        title: 'Zero Emissions',
        description:
          'Electric vehicles produce zero emissions, which makes them much more environmentally friendly than gasoline-powered cars. This can help to reduce air pollution and climate change.',
      },
      {
        title: 'Lower Operating Costs',
        description:
          'The cost of electricity is much lower than the cost of gasoline, which can save you money on fuel costs in the long run. ',
      },
      {
        title: 'Reliable Performance',
        description:
          'Provide reliable performance in all weather conditions. They are not as susceptible to engine problems as gasoline-powered cars.',
      },
    ]}
    image={{
      src: 'https://www.edfenergy.com/sites/default/files/styles/spire_tile__media__full__media_square/public/buyersguide_the-benefits-of-switching-to-electric.jpg?itok=mI_FXPZg',
      alt: 'Benefits of EV',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2"> Reasons why you should switch to electric vehicles</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Convenient charging',
        description: `There are now many different options for charging electric vehicles, including at home, at work, and at public charging stations. Charging times are getting faster, and the range of electric vehicles is increasing.`,
      },
      {
        title: 'Easier to Drive',
        description:
          'Electric vehicles can be easier to drive as gasoline-powered cars. They often have instant torque, which can make them feel very responsive.',
      },
      {
        title: 'Quiet Operation',
        description:
          "Electric vehicles are much quieter than gasoline-powered cars, which can make them more enjoyable to drive and more peaceful for pedestrians and neighbors.",
      },
      {
        title: 'Safer',
        description:
          'Electric vehicles have a lower center of gravity than gasoline-powered cars, which can make them more stable in rollover accidents. They also have fewer moving parts, which can reduce the risk of mechanical failures.',
      },
    ]}
    image={{
      src: 'https://enchant-project.eu/wp-content/uploads/2022/05/EV2.png',
      alt: 'Benefits of EV Image',
    }}
  >
    <Fragment slot="content">Seamless transition</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Increased resale value',
        description:
          'Electric vehicles are expected to have higher resale values than gasoline-powered cars in the future. This is because they are more environmentally friendly and have lower operating costs.',
      },
      {
        title: 'Leading edge technology',
        description:
          'Electric vehicles are leading the way in automotive technology. They are equipped with state-of-the-art features such as regenerative braking, lane departure warning, and adaptive cruise control.',
      },
      {
        title: 'Government Incentives',
        description:
          'Many governments offer incentives to encourage people to switch to electric vehicles. These incentives can include tax credits, rebates, and free parking.',
      },
      {
        title: 'Lower Maintenace Costs',
        description: `Electric vehicles have lower maintenance costs than gasoline-powered cars.`,
      },
    ]}
    image={{
      src: 'https://www.pngitem.com/pimgs/m/75-754065_benefits-of-driving-an-electric-car-and-installing.png',
      alt: 'EV Benefits Image',
    }}
  >
    <Fragment slot="content">Enjoy additional benefits</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Environmental Impact of Electric Vehicles"
    items={[
      {
        title: '1: <span class="font-medium">Zero Tailpipe Emissions </span>',
        description:
          "EVs produce zero tailpipe emissions, which means they do not contribute to air pollution or climate change. This is a major benefit of EVs, as air pollution is a major public health problem and climate change is a major threat to the planet.",
        icon: 'tabler:plant',
      },
      {
        title: '2: <span class="font-medium">Less Manufacturing Emissions</em>',
        description:
          "The manufacturing of EVs does produce some emissions, but these emissions are typically lower than the emissions produced during the manufacturing of gasoline-powered cars. This is because EVs have fewer moving parts and simpler designs than gasoline-powered cars.",
        icon: 'tabler:seeding',
      },
      {
        title: '3: <span class="font-medium">Less Water Use</span>',
        description:
          'The amount of water required for EVs is much less than the amount of water required for gasoline-powered cars. This is because EVs do not require as much water for fuel production.',
        icon: 'tabler:droplet',
      },
      {
         title: '4: <span class="font-medium">Recycle</span>',
        description:
          'EV batteries can be recycled, which helps to reduce the environmental impact of EVs. ',
        icon: 'tabler:planet',
      },
    ]}
    image={{
      src: 'https://cdn.outsideonline.com/wp-content/uploads/2023/02/recycling-bin-climate-neutral-ish_s.jpg',
      alt: 'Recycling image',
    }}
  />



</Layout>
